# Python
__pycache__/
*.pyc

# Environment files
.env
.env.local
*.env.local

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.production.local

# Backend Virtual Environments
backend/myenv/
backend/venv/
venv/
myenv/

# Static & Media
backend/staticfiles/
backend/media/
staticfiles/
media/

# Logs
logs/*.log
!logs/.gitkeep
backend/logs/*.log

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store