Django==6.0.5
djangorestframework==3.17.1
django-cors-headers==4.9.0
psycopg2-binary==2.9.12
python-dotenv==1.0.1
dj-database-url==2.3.0
whitenoise==6.8.2
gunicorn==23.0.0
celery==5.4.0
redis==5.2.1
sentry-sdk==2.19.2
mozilla-django-oidc==4.0.1
python-dateutil==2.9.0
